# Large model files (too big for GitHub)
models/*.h5
models/*.keras

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
